/*
==============================
  * CSS TABLE CONTENT *  
==============================
1. GOOGLE FONT
2. VARIABLES CSS
3. BASE
4. REUSABLE CSS CLASSES
5. HEADER & NAV
6. BREAKPOINTS
==============================
  * END TABLE CONTENT *  
==============================
*/
/* ============ VARIABLES CSS ============= */
:root {
  --header-height: 60px;

  /* Colores */
  --bg-color: #000000;
  --text-primary:#ffffff;
  ;

   /* Tipografía */
   --body-font:'Sen', system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue';
   --big-font-size: 32px;
   --normal-font-size: 20px;
   --small-font-size: 16px;
   --smaller-font-size: 12px;
   --color-typography: #FFFFFF;
 
   /* Grosores */
   --font-medium: 400;
   --font-semi-bold: 700;
   --font-bold: 800;
 
   /* Margenes */
   --mr-1: 8px;
   --mr-2: 16px;
   --mr-3: 20px;
   --mr-4: 26px;
   --mr-5: 32px;
 
   /* z-index */
   --z-modal: 10;
   --z-fixed: 100;
 
   /* Sombras */
   --box-shadow: 0px 10px 100px rgba(0, 0, 0, .10);
   --button-shadow: 0px 3px 10px #5221E6;
   --text-shadow: 2px 3px #ee991a55
}


@media (min-width: 768px) {
  :root {
    --header-height: 90px;
    --big-font-size: 38px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;
  }
}  

/* ============ BASE ============= */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  margin: 0;
  background-color: #000000;
  color: var(--text-primary)
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ============ REUSABLE CLASSES ============= */

.bottom {
  clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
  margin-top: -40px;
}

.section {
  padding: 4rem 0;
}

.section__title {
  text-align: center;
  margin: var(--mr-3) 0;
}

.grid--container {
  max-width: 1200px;
  display: grid;
  margin: 0 var(--mr-3);
}

.btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  align-items: center;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: var(--button-shadow);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(34, 34, 34, .3);
  border-radius: 4px;
}

/* ============ HEADER & NAVBAR ============= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #020202;
  box-shadow: var(--box-shadow);
  z-index: var(--z-fixed);
}

.navbar {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  color: #ffffff;
}

.btn__close{
  position: absolute;
  top: var(--mr-2);
  right: var(--mr-2);
  background-color: #000000;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__open,
.btn__close,
.navbar__logo i {
  font-size: 2.3rem;
  color: #ffffff;
  transition: background .3s;
}

.btn__open:hover{
  background-color: #ffffff;
}

.btn__close:hover{
  background-color: #1111bd;
}

.navbar__list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__item {
  margin-bottom: var(--mr-2);
}

.navbar__link{
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: var(--font-semi-bold);
  transition: color .3s;
}

.navbar__link:hover{
  color: #234ae6d6 ;
}

.navbar__menu:target{
  top: 0;
}

/* ======== Home ========== */
.home{
  background-color: var(--bg-color);
}

.home__container {
  position: relative;
  row-gap: 2rem;
  padding: var(--header-height) 0 3rem;
  clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px))
}

.background__video {
  position: absolute;
  height: auto;
  margin: 0;
}

.home__image .Luis {
  width: clamp(min(320px, 100%), 85vh, 550px);
  position: absolute;
  height: auto;
  margin: 0;
  z-index: 1;
}

.home__image .Svg {
  width: clamp(min(320px, 100%), 100vh, 450px);
  height: auto;
  position: relative;
  margin: 0px 0px 0px 430px;
  z-index: 0;
}

.home__social{
  position: absolute;
  top: 10rem;
  left: 1.2rem;
  display: flex;
  flex-direction: column;
  row-gap: var(--mr-2);
}

.home__social-link{
  color: #FFFFFF;
  font-size: 1.7rem;
  transition: color .3s;
}

.home__social-link:hover {
  color: #ffffff;
}

.home__title,
.home__description {
  text-align: center;
}

.home__title {
  margin: 0;
  margin-bottom: var(--mr-2);
  text-transform: uppercase;
}

.home__info {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "a";
  grid-gap: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .5) ), url("/assets/img/lmdlbg.png");
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
  padding: 40px 3% 40px;
}

.btn--primary {
  align-content: center;
  text-align: center;
  max-width: 250px;
  padding: .75rem 1.5rem;
  font-size: var(--small-font-size);
  color: #FFFFFF;
  background-color: #1111bd;
  position: relative;
  top: 20px;
  left: 450px;
  right: 400px;
  bottom: 0px;
}

.btn--workbok {
  align-content: center;
  text-align: center;
  max-width: 250px;
  padding: .75rem 1.5rem;
  font-size: var(--small-font-size);
  color: #FFFFFF;
  background-color: #8911bd;
  position: relative;
  top: 20px;
  left: 450px;
  right: 400px;
  bottom: 0px;
}

/* ==========About========*/

.about {
  background-image: url(" /assets/img/Frame 3529.svg");
  background-size: cover;
  background-position: center;
}  
.about__description {
  text-align: center;
}

.about__skills {
  margin: 2.5rem 0
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  gap: 2rem;
  color: #000000;
}

.about__card {
  background-color: #ffffff;
  padding: 4rem 2rem 2rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: background .3s;
  transition: 0.5s;
}
.about__card:hover {
  background-color: rgba(167, 21, 196, 0.259);
  transform: scaleY(1.1) scaleX(1.1);
  color: white;
} 

.about__card .bx {
  padding: 12px;
  font-size: 2rem;
  border-radius: 50px;
  background-color: #f0f0f0;
}

.bxl-html5, .bxl-css3, .bxl-javascript, .bxl-adobe,
.bxl-adobe, .bx-layout, .bx-package, .bx-book-reader, 
.bx-shopping-bag, .bxs-server, .bxl-shopify, .bxl-google {
 color: #000000;
}

.about__tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.about__tag {
  display: inline-block;
  padding: .75rem 1.5rem;
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #000000;
}

/*========== Projects ======*/
.projects__container {
  gap: 2rem;
  background-image: url("/PROYECTO PORTAFOLIO/LUIS MARCO DÍAZ /assets/img/Ellipse.svg");
  background-size: cover;
  background-position: center;
}

.projects__inner {
  margin: 0;
}

.projects__image {
  display: flex;
  border-radius: 5px;
  display: flex;
  width: 100%;
  height: 80vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.projects__image img {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 6px 11px 13px 0 #5221E6;
  background-color: #ffffff;
  scroll-snap-align: center;
}

.projects__info{
  padding: 1rem;
}

.projects__buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects__button {
  padding: .75rem 1.5rem;
  font-size: var(--small-font-size);
}

/* ========= Contact =========*/

.contact {
  background-color: var(--bg-color);
}

.contact__container {
  gap: 2rem;
}

.contact__info-data{
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.contact__form{
  width: 100%;
  padding: 3rem 1.5rem 2rem;
  background-color: #3f3f3f;
  border-radius: 5px;
  margin: 0 auto;
}

.contact__form-group {
  margin-bottom: var(--mr-4);
}

.contact__form-label {
  display: block;
  margin-bottom: var(--mr-1);
}

.contact__form-input {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 5px;
  background-color: #ebebeb;
  border: 1px solid #ffffff;
}

.contact__info-data :visited {
  color: rgb(255, 255, 255);
}   
.contact__info-number :link {
  color: rgb(255, 255, 255);
}
.contact__info-mail :link {
  color: rgb(255, 255, 255);
}

textarea {
  resize: none;
}

/* ============= Footer ============= */
.footer {
  background-color: #111;
  color: #efefef;
  padding-bottom: 2rem;
}

.footer__container {
  gap: 2rem;
}

.footer__title {
  font-size: 1.5rem;
}

.footer__social-list {
  display: flex;
  gap: var(--mr-2);
  font-size: 1.5rem;
}

.footer__social-link {
  color: #fff;
  transition: text-shadow .3s;
}

.footer__social-link:hover{
 text-shadow: var(--text-shadow);
}

.footer__copy {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  border-top: 1px solid #222;
  padding-top: 2rem;
}

/* ============= Media Queries ============= */

@media (max-width: 768px) {
  .navbar__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    border-radius: 0 0 12px 12px;
    background-color: var(--bg-color);
    box-shadow: 0px 1px 9px 2px #00000034;
    padding: 4.5rem 1rem 2rem;
    transition: .5s;
  }
  .navbar__menu:target{
    box-shadow: 10px 10px 5px rgba(37, 31, 107, 0.7);;
  }
  .home__image .Svg {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: auto;
    margin-top: -60px;
  }
  .home__info {
    padding: 70px 3% 30px;
    }
  .btn--primary {
  position: relative;
  top: 20px;
  left: 80px;
  right: 100px;
  bottom: 40px;
  }
  .btn--workbok {
  position: relative;
  top: 20px;
  left: 80px;
  right: 100px;
  bottom: 40px;
  } 
}

@media screen and (min-width: 768px) {
  .section {
    padding: 6rem 0 5rem;
  }

  .btn__open,
  .btn__close {
    display: none;
  }

  .navbar__list {
    flex-direction: row;
    gap: 2rem;
  }

  .navbar__item {
    margin: 0;
  }

  .home__social {
    position: relative;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .home__title {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .home__description {
    font-size: 1.3rem;
  }
  .home__social-link {
    font-size: 2rem;
  }

  .about__skills {
    grid-template-columns: 1fr .5fr;
    gap: 2rem;
  }

  .projects__container {
    padding: 3rem 0;
    gap: 5rem;
  }

  .projects__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .projects__container .projects__project:nth-child(even) .projects__image {
    order: 2
  }

  .projects__container .projects__project:nth-child(even) .projects__info {
    order: 1;
    text-align: right;
  }

  .projects__container .projects__project:nth-child(even) .projects__buttons {
    justify-content: flex-end;
  }

  .contact__container {
    grid-template-columns: .5fr 1fr;
    justify-content: center;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  } 
}
@media (min-width: 1024px) {
  .grid--container {
    margin: 0 auto;
  }
} 